{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('mce') }}
{{ encore_entry_script_tags('loadbtn') }}
{{ encore_entry_script_tags('desablebtn') }}
{{ encore_entry_script_tags('articleimg') }}

<script>

   $(function () {
     $(".js-select2-composants").select2({ tags: true, tokenSeparators: [','] }).on('change', function (e) {
        let composantLabel = $(this).find("[data-select2-tag=true]");
        if (composantLabel.length && $.inArray(composantLabel.val(), $(this).val() !== -1)) {
           $.ajax({
              url: '/composants/ajax/add/' + composantLabel.val() + '/' + {{ stripe.id }},
               type: "POST"
            }).done(function (data) {
               console.log(data)
               composantLabel.replaceWith(`<option selected value="${data.id
                  }">${composantLabel.val()
                  }</option>`)
            })
         }
      })

   })

</script>