{{ form_start(form, {attr: {class: 'form'}}) }}

<div class="row">
	<div class="col-sm-8">

		{% include "user/post/form/_galerie.html.twig" %}

		<div class="panel panel-defaulte bg-white">
			<div class="panel-heading wt-panel-heading p-a20">
				<h4 class="panel-tittle m-0">Détails</h4>
			</div>
			<div class="panel-body wt-panel-body p-a20 m-b30">
				{{ form_row(form.name) }}
				{{ form_row(form.categorie) }}
				{{ form_row(form.souscategorie) }}
				<label for="post_tarif">Prix de le service</label>
				<div class="row d-flex align-items-center">
					<div class="col-7 pe-1">{{ form_row(form.tarif) }}</div>
					<div class="col-5 ps-1">{{ form_row(form.devise) }}</div>
				</div>

				{{ form_row(form.description) }}
			</div>
		</div>

		<div class="panel panel-defaulte bg-white">
			<div class="panel-heading wt-panel-heading p-a20">
				<h4 class="panel-tittle m-0">Ajouter plus d'options</h4>
			</div>
			<div class="panel-body wt-panel-body p-a20 m-b30">
				<div class="row">
					<div class="col-sm-4">
						<fieldset>
							<legend class="col-form-label">Conditions</legend>
							{{ form_row(form.promo) }}
							<div class="prixpromo">
								{{ form_row(form.tarifPromo) }}
							</div>
							{{ form_row(form.negociable) }}
							{{ form_row(form.livraison) }}
						</fieldset>
					</div>
					<div class="col-sm-4">
						{{ form_row(form.etat) }}
					</div>
					<div class="col-sm-4">
						{{ form_row(form.statut) }}
					</div>
				</div>
			</div>
		</div>
		{% include "user/post/form/_booster.html.twig" %}
	</div>
	<div class="col-sm-4 rightSidebar">
		{% include "user/post/form/_security.html.twig" %}
	</div>
</div>
{{ form_end(form, {render_rest: false}) }}
