{% extends 'espace.html.twig' %}

{% block title %}Suivi de la candidature pour le poste de #{{ candidature.offre.intitulePoste }}
{% endblock %}
{% block titre %}Suivi de la candidature pour le poste de #{{ candidature.offre.intitulePoste }}
{% endblock %}
{% block text %}
Suivi de la candidature pour le poste de #{{ candidature.offre.intitulePoste }}
{% endblock %}

{% block body %}
<div class="row">
    {% if candidature %}
    <div class="col-sm-6">
        <div class="panel panel-default border radius offre-conversation bg-white">
            <div class="panel-heading wt-panel-heading p-a20 border-bottom pb-2">
                <h4 class="panel-tittle m-a0">
                    <span>Suivi de la candidature pour le poste de
                        <strong>#{{ candidature.offre.intitulePoste }}</strong>
                    </span>
                </h4>
                <i class="fa fa-clock text-primary"></i>
                {{ candidature.created|ago }}
            </div>
            <div class="panel-body wt-panel-body p-a20 pb-0">
                <div class="twm-timing-list-wrap p-3 border-0 pb-0">

                    <div class="twm-timing-list">
                        <div class="twm-time-list-title">Soumission de la candidature
                        </div>
                        <div class="twm-time-list-date">Date
                            <span class="custom-badge">
                                <i class="fa fa-calendar-alt"></i>
                                {{ candidature.created|date('d/m/Y') }}</span>
                        </div>
                        <div class="twm-time-list-date">Intitulé du poste:
                            <strong class="text-dark">{{
                                candidature.offre.intitulePoste }}</strong>
                        </div>
                        <div class="twm-time-list-position">
                            <i class="fa fa-envelope text-blue"></i>
                            Présentation du
                            candidat
                        </div>
                        <div class="twm-time-list-discription">
                            <p>{{ candidature.candidatPresentation }}.</p>
                        </div>
                    </div>

                    <div class="twm-timing-list {{ candidature.acceptationDate ? '' : 'inactif' }}">
                        <div class="twm-time-list-title">Acceptation de la candidatures</div>
                        <div class="twm-time-list-date">Date
                            <span class="custom-badge">
                                <i class="fa fa-calendar-alt"></i>
                                {{ candidature.acceptationDate|date('d/m/Y') }}
                            </span>
                        </div>
                        <div class="twm-time-list-position">
                            <i class="fa fa-envelope text-blue"></i>
                            Message du recruteur
                        </div>
                        <div class="twm-time-list-discription">
                            {{ candidature.acceptationMessage }}
                        </div>
                    </div>

                    <div class="twm-timing-list {{ candidature.dateEvaluation ? '' : 'inactif' }}">
                        <div class="twm-time-list-title">Évaluation des compétences</div>
                        <div class="twm-time-list-date">Date prévu:
                            <span class="custom-badge">
                                <i class="fa fa-calendar-alt"></i>
                                {{ candidature.dateEvaluation|date('d/m/Y') }}</span>
                        </div>
                        <div class="twm-time-list-discription">
                            <p>Examin des fichiers des candidats (CV, Lettre de Motivation...) pour évaluer leur
                                adéquation
                                avec les exigences du poste.</p>

                            <h6>
                                <i class="fa fa-link"></i>
                                Fichiers
                            </h6>
                            <div>
                                {% if candidature.cv %}

                                <a href="{{ vich_uploader_asset(candidature, 'cvFile') }}" class="custom-badge">CV</a>

                                {% endif %}

                                {% if candidature.cv %}

                                <a href="{{ vich_uploader_asset(candidature, 'lettreMotivationFile') }}"
                                    class="custom-badge">Lettre de motivation</a>

                                {% endif %}
                            </div>
                        </div>
                        <div class="twm-time-list-position">
                            <i class="fa fa-envelope text-blue"></i>
                            Message du recruteur
                        </div>
                        <div class="twm-time-list-discription">
                            {{ candidature.evaluationMessage }}
                        </div>
                    </div>

                    <div class="twm-timing-list {{ candidature.dateEntretien ? '' : 'inactif' }}">
                        <div class="twm-time-list-title">Entretiens</div>
                        <div class="twm-time-list-date mb-2">
                            <span class="custom-badge bg-warning">
                                <i class="fa fa-calendar-alt"></i>
                                {{ candidature.dateEntretien|date('d/m/Y') }}
                            </span>
                            <span class="custom-badge bg-blue text-light">{{ candidature.entretien }}</span>
                        </div>
                        <div class="twm-time-list-discription">
                            Réalisation de l'entretien avec le candidat présélectionnés pour l'évaluation des
                            motivations,
                            compétences de base, adéquation culturelle, etc...
                        </div>
                    </div>

                    <div class="twm-timing-list {{ candidature.dateSelection ? '' : 'inactif' }}">
                        <div class="twm-time-list-title">Sélection du candidat</div>
                        <div class="twm-time-list-date">Date
                            <span class="custom-badge">
                                <i class="fa fa-calendar-alt"></i>
                                {{ candidature.dateSelection|date('d/m/Y') }}</span>
                        </div>
                        <div class="twm-time-list-position">
                            <i class="fa fa-info-circle text-success"></i>
                            Message du recruteur
                        </div>
                        <div class="twm-time-list-discription">
                            <p>{{ candidature.selectionMessage }}</p>
                        </div>
                    </div>

                </div>

                <!-- processus -->

            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-sm-6">
        <div class="wt-admin-dashboard-msg-2 radius hiden-over">
            <!--Right Msg section-->
            <div class="wt-dashboard-msg-box radius">
                <div class="single-msg-user-name-box">
                    {% include "conversation/composants/_single_user.html.twig" %}
                </div>
                <div id="msg-chat-wrap" class="single-user-msg-conversation scrollbar-macosx radius">

                    {% include "conversation/composants/_conseil_securite.html.twig" %}

                    {% for message in messages %}
                    {% include "conversation/composants/_message.html.twig" %}
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}