{% extends 'espace.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}
    <h1>Candidature</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidature.id }}</td>
            </tr>
            <tr>
                <th>Cv</th>
                <td>{{ candidature.cv }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ candidature.created ? candidature.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ candidature.updated ? candidature.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_candidatures') }}">back to list</a>

    <a href="{{ path('user_candidature_edit', {'id': candidature.id}) }}">edit</a>

    {{ include('user/candidature/_delete_form.html.twig') }}
{% endblock %}
