{% extends 'base.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block body %}
	<div class="twm-home3-banner-section site-bg-white bg-cover bg-cover-less" style="background-image:url({{ asset('img/service/1.jpeg') }})">
		<div class="twm-home3-inner-section">
			<div class="twm-bnr-mid-section">
				<h1 class="twm-bnr-title-light">A propos</h1>
				<div>
					<ul class="wt-breadcrumb breadcrumb-style-2">
						<li>
							<a href="{{ path('accueil') }}" class="text-light">Accueil</a>
						</li>
						<li>A propos</li>
					</ul>
				</div>

			</div>
		</div>
	</div>

	<!-- HOW IT WORK SECTION START -->
	<div class="section-full p-t90 p-b90 site-bg-white twm-how-it-work-area2">

		<div class="container">
			<div class="row">
				<div
					class="col-lg-4 col-md-12">
					<!-- TITLE START-->
					<div class="section-head left wt-small-separator-outer">
						<div class="wt-small-separator site-text-primary">
							<div>Comment ça fonctionne
							</div>
						</div>
						<h2 class="wt-title">Suivez nos étapes, nous vous aiderons.</h2>

					</div>
					<ul class="description-list">
						<li>
							<i class="feather-check"></i>
							Travail de confiance et de qualité
						</li>
						<li>
							<i class="feather-check"></i>
							Emploi international
						</li>
						<li>
							<i class="feather-check"></i>
							Sans frais supplémentaires
						</li>
						<li>
							<i class="feather-check"></i>
							Principales entreprises
						</li>
					</ul>
					<!-- TITLE END-->
				</div>
				<div class="col-lg-8 col-md-12">
					<div class="twm-w-process-steps-2-wrap">
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-md-6">
								<div class="twm-w-process-steps-2">
									<div class="twm-w-pro-top bg-clr-sky-light bg-sky-light-shadow">
										<span class="twm-large-number text-clr-sky">01</span>
										<div class="twm-media">
											<span><img src="{{ asset('img/icon1.png') }}" alt="icon1"></span>
										</div>
										<h4 class="twm-title">Inscrivez-vous<br>Votre compte</h4>
										<p>Vous devez créer un compte pour trouver le meilleur emploi préféré.</p>
									</div>

								</div>
							</div>

							<div class="col-xl-6 col-lg-6 col-md-6">
								<div class="twm-w-process-steps-2">
									<div class="twm-w-pro-top bg-clr-yellow-light bg-yellow-light-shadow">
										<span class="twm-large-number text-clr-yellow">02</span>
										<div class="twm-media">
											<span><img src="{{ asset('img/icon4.png') }}" alt="icon1"></span>
										</div>
										<h4 class="twm-title">Rechercher
											<br>
											Votre emploi</h4>
										<p>Vous devez créer un compte pour trouver le meilleur emploi préféré.</p>
									</div>

								</div>
							</div>

							<div class="col-xl-6 col-lg-6 col-md-6">
								<div class="twm-w-process-steps-2">
									<div class="twm-w-pro-top bg-clr-pink-light bg-pink-light-shadow">
										<span class="twm-large-number text-clr-pink">03</span>
										<div class="twm-media">
											<span><img src="{{ asset('img/icon3.png') }}" alt="icon1"></span>
										</div>
										<h4 class="twm-title">Postulez pour
											<br>
											un emploi de rêve</h4>
										<p>Vous devez créer un compte pour trouver le meilleur emploi préféré.</p>
									</div>

								</div>
							</div>

							<div class="col-xl-6 col-lg-6 col-md-6">
								<div class="twm-w-process-steps-2">
									<div class="twm-w-pro-top bg-clr-green-light bg-clr-light-shadow">
										<span class="twm-large-number text-clr-green">04</span>
										<div class="twm-media">
											<span><img src="{{ asset('img/icon3.png') }}" alt="icon1"></span>
										</div>
										<h4 class="twm-title">Télécharger
											<br>
											votre CV</h4>
										<p>Vous devez créer un compte pour trouver le meilleur emploi préféré.</p>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>


			<div class="twm-how-it-work-section"></div>
		</div>

	</div>
	<!-- HOW IT WORK SECTION END -->

	<!-- EXPLORE NEW LIFE START -->
	<div class="section-full p-t120 p-b120 twm-explore-area bg-cover " style="background-image: url(images/background/bg-1.jpg);">
		<div class="container">

			<div class="section-content">
				<div class="row">

					<div class="col-lg-4 col-md-12">
						<div class="twm-explore-media-wrap">
							<div class="twm-media">
								<img src="{{ asset('img/gir-large.png') }}" alt="">
							</div>
						</div>
					</div>

					<div class="col-lg-8 col-md-12">
						<div class="twm-explore-content-outer">
							<div class="twm-explore-content">

								<div class="twm-l-line-1"></div>
								<div class="twm-l-line-2"></div>

								<div class="twm-r-circle-1"></div>
								<div class="twm-r-circle-2"></div>

								<div class="twm-title-small">Explorez une nouvelle vie</div>
								<div class="twm-title-large">
									<h2>Ne vous contentez pas de trouver. être trouvé présentez votre CV à de bons employeurs
									</h2>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry the standard dummy text ever since the  when an printer took.</p>
								</div>
								<div class="twm-upload-file">
									<button type="button" class="custom-button-light">Télécharger votre CV
										<i class="feather-upload"></i>
									</button>
								</div>


							</div>
							<div class="twm-bold-circle-right"></div>
							<div class="twm-bold-circle-left"></div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
	<!-- EXPLORE NEW LIFE END -->

	<!-- TOP COMPANIES START -->
	<div
		class="section-full p-t120  site-bg-white twm-companies-wrap">

		<!-- TITLE START-->
		<div class="section-head center wt-small-separator-outer">
			<div class="wt-small-separator site-text-primary">
				<div>Principales entreprises</div>
			</div>
			<h2 class="wt-title">Soyez embauché dans les meilleures entreprises</h2>
		</div>
		<!-- TITLE END-->

		<div class="container">
			<div class="section-content">
				<div class="owl-carousel home-client-carousel2 owl-btn-vertical-center">
					{% for societe in bestsocietes(10) %}
						<div class="item">
							<div class="ow-client-logo">
								<div class="client-logo client-logo-media">
									<a href="{{ path('annuaire_profile', {nameSlug: societe.nameSlug}) }}">
										<img src="{% if societe.logo %}{{ vich_uploader_asset(societe, 'logoFile' ) | imagine_filter('largeavatar') }}{% else %}{{ asset('img/banner.png') | imagine_filter('largeavatar') }}{% endif %}" alt="{{ societe.societe }}">
									</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>


	</div>
	<!-- TOP COMPANIES END -->
{% endblock %}
