{{ form_start(form, {attr: {class: 'form'}}) }}

<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-defaulte bg-white">
			<div class="panel-body wt-panel-body p-a20 m-b30">
				<div class="create-banner d-flex align-items-center bg-white">
					<img src="{{ asset('img/emploi.svg') }}" class="img-fluid" alt="">
					<h5 class="page-titre ms-auto">Les informations
						<br> de base à votre offre
                    </h5>
				</div>
				{{ form_row(form.name) }}
				<div class="row">
					<div class="col-sm-12">{{ form_row(form.secteuractivite) }}</div>
					<div class="col-sm-12">{{ form_row(form.soussecteuractivite) }}</div>
				</div>

				<div class="row">
					<div class="col-sm-7">{{ form_row(form.intitulePoste) }}</div>
					<div class="col-sm-5">{{ form_row(form.genre) }}</div>
					<div class="col-sm-6">{{ form_row(form.effectifRecrutement) }}</div>
					<div class="col-sm-6">{{ form_row(form.qualification) }}</div>
					<div class="col-sm-6">{{ form_row(form.anneeExperience) }}</div>
					<div class="col-sm-6">{{ form_row(form.typeContrat) }}</div>
					{{ form_row(form.infosContrat) }}
				</div>

				{{ form_row(form.langues) }}

				<div class="row">
					<div class="col-sm-7">{{ form_row(form.salaire) }}</div>
					<div class="col-sm-5">{{ form_row(form.devise) }}</div>
					<div class="col-sm-12">{{ form_row(form.periodicite) }}</div>
				</div>

				{{ form_row(form.description) }}
			</div>
		</div>

		<div class="panel panel-defaulte bg-white">
			<div class="panel-heading wt-panel-heading p-a20">
				<h4 class="panel-tittle m-0">
					Informations supplémentaires
				</h4>
			</div>
			<div class="panel-body wt-panel-body p-a20 m-b30">

				<label for="" class="mb-2">Parmi ces options, laquelle décrit le mieux le lieu de travail de ce poste?
					<span class="text-danger">*</span>
				</label>
				{{ form_row(form.lieuTravail) }}
				<div class="localisation">{{ form_row(form.localisation) }}</div>

				{{ form_row(form.experiences) }}

				{{ form_row(form.responsabilites) }}

				{{ form_row(form.horaires) }}

				<div class="row">
					<div class="col-sm-6">{{ form_row(form.dateDebut) }}</div>
					<div class="col-sm-6">{{ form_row(form.dateFin) }}</div>
				</div>

			</div>
		</div>
	</div>

	<div class="col-sm-4 rightSidebar">
		<div class="side-bar-2">
			<div class="panel panel-defaulte bg-white">
				<div class="panel-heading wt-panel-heading p-a20">
					<h4 class="panel-tittle m-0">
						<i class="fa fa-info-circle text-warning"></i>
						Conseils de sécurité
					</h4>
				</div>
				<div class="panel-body wt-panel-body p-a20 m-b30">
					<div class="ps-3">
						<ul class="mb-3">
							<li>Utilisez un bref titre et une description de l'élément.</li>
							<li>Assurez-vous de bien remplire toute les information.</li>
							<li>Vérifiez le statut de votre offre.</li>
							<li>Vérifiez l'élément avant de le publier.</li>
						</ul>
					</div>
					<p class="text-muted">Vérifiez bien toute les informations de l'élément avant de le publier</p>
					<button class="custom-button button w-100" formnovalidate type="submit">
						<span class="btnFetch d-block w-100">
							{{ button_label|default('Enregistrer & prévisualiser') }}
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

{{ form_end(form, {render_rest: false}) }}
