<!DOCTYPE html>
<html lang="fr">

<head>

	<!-- META -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="" />

	<!-- FAVICONS ICON -->
	<link rel="icon" href="{{ asset('img/logo/logo-g/favicon.png') }}" sizes="32x32" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/logo/logo-g/favicon.png') }}" sizes="32x32" />

	<!-- PAGE TITLE HERE -->
	<title>
		{% block title %}
		{{ appName }}
		{% endblock %}
	</title>

	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{{ asset('themes/base/css/bootstrap.min.css') }}">
	<!-- BOOTSTRAP STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="{{ asset('themes/base/css/font-awesome.min.css') }}">
	<!-- FONTAWESOME STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="{{ asset('themes/base/css/feather.css') }}">
	<!-- FEATHER ICON SHEET -->
	<link rel="stylesheet" type="text/css" href="{{ asset('themes/base/css/owl.carousel.min.css') }}">
	<!-- OWL CAROUSEL STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="{{ asset('themes/base/css/magnific-popup.min.css') }}">
	<!-- MAGNIFIC POPUP STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="{{ asset('themes/base/css/lc_lightbox.css') }}">
	<!-- Lc light box popup -->
	<link rel="stylesheet" type="text/css" href="{{ asset('themes/base/css/bootstrap-select.min.css') }}">
	<!-- BOOTSTRAP SLECT BOX STYLE SHEET  -->
	<link rel="stylesheet" type="text/css" href="{{ asset('themes/base/css/dataTables.bootstrap5.min.css') }}">
	<!-- DATA table STYLE SHEET  -->
	<link rel="stylesheet" type="text/css" href="{{ asset('themes/base/css/select.bootstrap5.min.css') }}">
	<!-- DASHBOARD select bootstrap  STYLE SHEET  -->
	<link rel="stylesheet" type="text/css" href="{{ asset('themes/base/css/dropzone.css') }}">
	<!-- DROPZONE STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="{{ asset('themes/base/css/scrollbar.css') }}">
	<!-- CUSTOM SCROLL BAR STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="{{ asset('themes/base/css/datepicker.css') }}">
	<!-- DATEPICKER STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="{{ asset('themes/base/css/flaticon.css') }}">
	<!-- Flaticon -->
	<link rel="stylesheet" type="text/css" href="{{ asset('themes/base/css/swiper-bundle.min.css') }}">
	<!-- Swiper Slider -->
	<link rel="stylesheet" type="text/css" href="{{ asset('themes/base/css/style.css') }}">
	<!-- MAIN STYLE SHEET -->

	<!-- THEME COLOR CHANGE STYLE SHEET -->
	<link rel="stylesheet" class="skin" type="text/css" href="{{ asset('themes/base/css/skins-type/skin-6.css') }}">
	<!-- SIDE SWITCHER STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="{{ asset('themes/base/css/switcher.css') }}">

	<!-- SELECT2 CSS CDN -->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

	{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_link_tags('responsive') }}
	{% endblock %}

</head>

<body {% block turbo %}data-turbo="false" {% endblock %}>

	<!-- LOADING AREA START ===== --
		<div class="loading-area">
			<div class="loading-box"></div>
			<div class="loading-pic">
				<div class="wrapper">
					<div class="cssload-loader"></div>
				</div>
			</div>
		</div>
		<!-- LOADING AREA  END ====== -->

	<div class="page-wraper">

		<!-- CONTENT START -->
		<div class="page-content">

			<!-- Login Section Start -->
			<div class="section-full site-bg-white">

				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-7 col-lg-6 col-md-5 twm-log-reg-media-wrap none-mobile">
							<div class="{% block imagePosition %}{% endblock %} twm-log-reg-media">
								<div class="twm-l-media">
									<img src="{{ asset('img/login-bg.png') }}" alt="">
								</div>
							</div>
						</div>
						<div class="col-xl-5 col-lg-6 col-md-7">

							<div class="twm-log-reg-form-wrap">
								<div class="twm-log-reg-logo-head">
									<a href="{{ path('accueil') }}" data-turbo="false">
										<img src="{{ asset('img/logo/trans/3.png') }}" alt="{{ appName }} Logo" class="logo">
									</a>
								</div>

								<div class="twm-log-reg-inner">
									<div class="twm-log-reg-head">
										<div class="twm-log-reg-logo">
											<h1 class="log-reg-form-title">{% block titre %}{% endblock %}</h1>
										</div>
									</div>

									<p class="text-center">{% block text %}{% endblock %}</p>

									{% block links %}{% endblock %}

									{% include "partials/base/_flash.html.twig" %}

									{% block body %}{% endblock %}

									{% block footer %}{% endblock %}

									<div class="text-center mt-3">
										<a href="{{ path('accueil') }}">Retourner sur accueil &longrightarrow;</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Login Section End -->

		</div>
		<!-- CONTENT END -->

	</div>

	<!-- JAVASCRIPT  FILES ========================================= -->
	<script src="{{ asset('themes/base/js/jquery-3.6.0.min.js') }}"></script>
	<!-- JQUERY.MIN JS -->
	<script src="{{ asset('themes/base/js/popper.min.js') }}"></script>
	<!-- POPPER.MIN JS -->
	<script src="{{ asset('themes/base/js/bootstrap.min.js') }}"></script>
	<!-- BOOTSTRAP.MIN JS -->
	<script src="{{ asset('themes/base/js/magnific-popup.min.js') }}"></script>
	<!-- MAGNIFIC-POPUP JS -->
	<script src="{{ asset('themes/base/js/waypoints.min.js') }}"></script>
	<!-- WAYPOINTS JS -->
	<script src="{{ asset('themes/base/js/counterup.min.js') }}"></script>
	<!-- COUNTERUP JS -->
	<script src="{{ asset('themes/base/js/waypoints-sticky.min.js') }}"></script>
	<!-- STICKY HEADER -->
	<script src="{{ asset('themes/base/js/isotope.pkgd.min.js') }}"></script>
	<!-- MASONRY  -->
	<script src="{{ asset('themes/base/js/imagesloaded.pkgd.min.js') }}"></script>
	<!-- MASONRY  -->
	<script src="{{ asset('themes/base/js/owl.carousel.min.js') }}"></script>
	<!-- OWL  SLIDER  -->
	<script src="{{ asset('themes/base/js/jquery.owl-filter.js') }}"></script>
	<script src="{{ asset('themes/base/js/theia-sticky-sidebar.js') }}"></script>
	<!-- STICKY SIDEBAR  -->
	<script src="{{ asset('themes/base/js/lc_lightbox.lite.js') }}"></script>
	<!-- IMAGE POPUP -->
	<script src="{{ asset('themes/base/js/bootstrap-select.min.js') }}"></script>
	<!-- Form js -->
	<script src="{{ asset('themes/base/js/dropzone.js') }}"></script>
	<!-- IMAGE UPLOAD  -->
	<script src="{{ asset('themes/base/js/jquery.scrollbar.js') }}"></script>
	<!-- scroller -->
	<script src="{{ asset('themes/base/js/bootstrap-datepicker.js') }}"></script>
	<!-- scroller -->
	<script src="{{ asset('themes/base/js/jquery.dataTables.min.js') }}"></script>
	<!-- Datatable -->
	<script src="{{ asset('themes/base/js/dataTables.bootstrap5.min.js') }}"></script>
	<!-- Datatable -->
	<script src="{{ asset('themes/base/js/chart.js') }}"></script>
	<!-- Chart -->
	<script src="{{ asset('themes/base/js/bootstrap-slider.min.js') }}"></script>
	<!-- Price range slider -->
	<script src="{{ asset('themes/base/js/swiper-bundle.min.js') }}"></script>
	<!-- Swiper JS -->
	<script src="{{ asset('themes/base/js/custom.js') }}"></script>
	<!-- CUSTOM FUCTIONS  -->
	<script src="{{ asset('themes/base/js/switcher.js') }}"></script>
	<!-- SHORTCODE FUCTIONS  -->

	<!-- SELECT2 JS -->
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	<!-- GOOGLE MAPPLACE API -->
	<script async
		src="https://maps.googleapis.com/maps/api/js?key={{ google_map_place_key }}&libraries=places&callback=initMap"></script>

	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
		{{ encore_entry_script_tags('collection') }}
		{{ encore_entry_script_tags('loadbtn') }}
		{{ encore_entry_script_tags('desablebtn') }}
		{{ encore_entry_script_tags('desactive') }}
		{{ encore_entry_script_tags('googlemap') }}
	{% endblock %}
</body>
</html>