<a href="{{ path('offre_details', {slug: offre.slug}) }}">
	<div class="twm-jobs-grid-style1 m-b30">
		<div class="twm-media">
			{% if offre.user.compte == 'ENTREPRISE' %}
				<img src="{% if offre.user.logo %}{{ vich_uploader_asset(offre.user, 'logoFile' ) | imagine_filter('largeavatar') }}{% else %}{{ asset('img/banner.png') | imagine_filter('largeavatar') }}{% endif %}" alt="{{ offre }}">
			{% else %}
				<img src="{% if offre.user.photo %}{{ vich_uploader_asset(offre.user, 'photoFile' ) | imagine_filter('largeavatar') }}{% else %}{{ asset('img/avatar.jpg') | imagine_filter('largeavatar') }}{% endif %}" alt="{{ offre }}">
			{% endif %}
		</div>
		<span class="twm-job-post-duration">{{ offre.created|ago }}</span>

		{% if app.user and offre.isCandidateByUser(app.user) %}
			<div class="twm-jobs-category green mt-2">
				<span class="twm-bg-green radius ps-1 pe-1">
					<i class="fas fa-check-circle small"></i>
					Appliquer</span>
			</div>
		{% endif %}

		<div class="twm-mid-content">
			<a href="{{ path('offre_details', {slug: offre.slug}) }}" class="twm-job-title">
				<h4 class="twm-job-title">{{ offre.name|u.truncate(60, '...') }}</h4>
			</a>
			<p class="twm-job-address">{{ offre.localisation }}</p>
			<a href="{{ offre.user.siteWeb ?? '#' }}" class="twm-job-websites site-text-primary">{{ offre.user.siteWeb ??
            'Aucun site...' }}</a>
		</div>
		<div class="twm-right-content">
			<a href="{{ path('offre_details', {slug: offre.slug}) }}" class="twm-jobs-browse site-text-primary">Parcourir
								            l'offre</a>
			<div class="twm-jobs-amount text-end">
				{% include "offre/composants/_favoris_btn.html.twig" %}
			</div>
		</div>
	</div>
</a>
