{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('mce') }}
{{ encore_entry_script_tags('loadbtn') }}
{{ encore_entry_script_tags('desablebtn') }}
{{ encore_entry_script_tags('articleimg') }}

<script>

   $(function () {
      $(".js-select2-tags").select2({ tags: true, tokenSeparators: [','] }).on('change', function (e) {
         let tagLabel = $(this).find("[data-select2-tag=true]");
         if (tagLabel.length && $.inArray(tagLabel.val(), $(this).val() !== -1)) {
            $.ajax({
               url: '/admin/tags/ajax/add/' + tagLabel.val() + '/' + {{ article.id }},
               type: "POST"
            }).done(function (data) {
               console.log(data)
               tagLabel.replaceWith(`<option selected value="${data.id
                  }">${tagLabel.val()
                  }</option>`)
            })
         }
      })
   })

</script>