{{ form_start(form, {attr: {class: ''}}) }}
<div class="espace-membre my-4">
	{{ form_errors(form) }}
	<div class="row">
		<div class="col-sm-8 pb-3">

			{% include "user/espace/form/_entreprise_form.html.twig" %}

			{% include "user/espace/form/_realisations.html.twig" %}

		</div>

		<div class="col-sm-4 rightSidebar">
			<div class="panel panel-default">
				<div class="panel-heading wt-panel-heading p-a20">
					<div class="row">
						<div class="col-7">
							<h4 class="panel-tittle mb-0 pb-1 h6">Statut du compte</h4>
							<span class="custom-badge bg-blue text-light border border-light mt-0 status">
								COMPTE
								{{ app.user.compte }}
							</span>
						</div>
						<div class="col-5 text-end">
							<a href="{{ path('user_change_compte') }}" class="ms-auto btn custom-badge radius btn-sm">
								<i class="fa fa-edit"></i>
								Modifier</a>
						</div>
					</div>
				</div>
				<div class="panel-body wt-panel-body py-2 p-a20 m-b30 bg-white radius sm">
					{% include "user/espace/composants/_avantages_compte_entreprise.html.twig" %}
				</div>
			</div>
			<div class="side-bar-2">
				<div class="panel panel-defaulte bg-white">
					<div class="panel-heading wt-panel-heading p-a20">
						<h4 class="panel-tittle m-0">
							<i class="fa fa-info-circle text-primary"></i>
							Suppression du compte
						</h4>
					</div>
					<div class="panel-body wt-panel-body p-a20 m-b30">

						{% include "user/espace/composants/_delete_politique.html.twig" %}

						<a href="{{ path('user_delete') }}" class="text-danger ms-3">
							<i class="fa fa-user-lock"></i>
							Supprimer mon compte</a>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="text-start">
		<button class="custom-button button" formnovalidate type="submit">
			<span class="btnFetch d-block">
				{{ button_label|default('Enregistrer les modifications') }}
			</span>
		</button>
	</div>
</div>

{{ form_end(form, {render_rest: false}) }}
