{{ form_start(form, {attr: {class: 'p-3'}}) }}

{{ form_errors(form) }}

<div class="mb-4">
	<label for="profil_particulier_photoFile_file" class="avatar-img">
		<img src="{% if app.user.photo %}{{ vich_uploader_asset(app.user, 'photoFile' ) }}{% else %}{{ asset('img/avatar.jpg') }}{% endif %}" class="rounded-circle photo img-fluid" alt="Avatar de compte">
		<button class="btn" type="button">
			<i class="text-blue fa fa-camera"></i>
		</button>
	</label>

	<div class="hidden-file">{{ form_widget(form.photoFile) }}</div>
	{{ form_errors(form.photoFile) }}
</div>

<h5 class="mb-4">
	<i class="text-blue fa fa-user-circle"></i>
	Informations individuelles</h5>

<div class="row">
	<div class="col-sm-6">{{ form_row(form.nom) }}</div>
	<div class="col-sm-6">{{ form_row(form.prenom) }}</div>
	<div class="col-sm-6">{{ form_row(form.villeResidence) }}</div>
	<div class="col-sm-6">{{ form_row(form.telephone) }}</div>
</div>

<h5 class="mb-3">
	<i class="text-blue fa fa-user-graduate"></i>
	Vos competences (Facultatif)</h5>
{{ form_row(form.competences) }}

<h5 class="mb-3">
	<i class="text-blue fa fa-tags"></i>
	Services que vous souhaitez offrir (obligatoires).</h5>
{{ form_row(form.services) }}

<h5 class="mb-3">
	<i class="text-blue fa fa-map-marker-alt"></i>
	Périmètre (Dans quelles villes)</h5>

{{ form_row(form.villes) }}

<div class="mt-3">
	<button class="site-button" type="submit">{{ button_label|default('Poursuivre') }}</button>
</div>

{{ form_end(form, {render_rest: false}) }}
