<!--Social Network-->
<div class="panel panel-default bg-white radius">
  <div class="panel-heading wt-panel-heading p-a20">
    <h4 class="panel-tittle m-a0">Réseaux sociaux <small>(Facultatif)</small></h4>
  </div>
  <div class="panel-body wt-panel-body p-a20">

    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label>Facebook</label>
          <div class="ls-inputicon-box">
            {{ form_widget(form.facebook) }}
            <i class="fs-input-icon fab fa-facebook-f"></i>
          </div>
        </div>
        {{ form_errors(form.facebook) }}
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Twitter</label>
          <div class="ls-inputicon-box">
            {{ form_widget(form.twitter) }}
            <i class="fs-input-icon fab fa-twitter"></i>
          </div>
        </div>
        {{ form_errors(form.twitter) }}
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>linkedin</label>
          <div class="ls-inputicon-box">
            {{ form_widget(form.linkedin) }}
            <i class="fs-input-icon fab fa-linkedin-in"></i>
          </div>
        </div>
        {{ form_errors(form.linkedin) }}
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Whatsapp</label>
          <div class="ls-inputicon-box">
            {{ form_widget(form.whatsapp) }}
            <i class="fs-input-icon fab fa-whatsapp"></i>
          </div>
        </div>
        {{ form_errors(form.whatsapp) }}
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Instagram</label>
          <div class="ls-inputicon-box">
            {{ form_widget(form.instagram) }}
            <i class="fs-input-icon fab fa-instagram"></i>
          </div>
        </div>
        {{ form_errors(form.instagram) }}
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Pinterest</label>
          <div class="ls-inputicon-box">
            {{ form_widget(form.pinterest) }}
            <i class="fs-input-icon fab fa-pinterest-p"></i>
          </div>
        </div>
        {{ form_errors(form.pinterest) }}
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Tumblr</label>
          <div class="ls-inputicon-box">
            {{ form_widget(form.tumblr) }}
            <i class="fs-input-icon fab fa-tumblr"></i>
          </div>
        </div>
        {{ form_errors(form.tumblr) }}
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Youtube</label>
          <div class="ls-inputicon-box">
            {{ form_widget(form.youtube) }}
            <i class="fs-input-icon fab fa-youtube"></i>
          </div>
        </div>
        {{ form_errors(form.youtube) }}
      </div>
    </div>

  </div>
</div>